{{- .Page.Scratch.Set "count" 0}}
{{- .Page.Scratch.Set "contents" dict }}
{{- $Test := default false (.Get "test")}}
{{- $Project := default true (.Get "project")}}
{{- $Output := default true (.Get "output")}}
{{- $data := .Site.Data.site }}
{{- $default := default "" (.Get "default")}}
{{with .Get "hr"}}
    {{ if or (eq . "top") (eq . "both")}}
        <hr>
    {{end}}
{{end}}
<div class="example-view">
    <div class="details admonition example open">
        <div class="details-summary admonition-title">
            <i class="icon fas fa-list-ol fa-fw"></i>Source Files<i class="details-icon fas fa-angle-right fa-fw"></i>
        </div>
        <div class="details-content">
            <div class="admonition-content">
                <div class="folder-tree-wrapper">
                    <div>
                        {{ with .Get "repoPath" }}
                            <i class="fa fa-folder" fa-fw></i> {{ . }}
                        {{ end }}
                        <ul class="folder-tree">
                            {{ partial "renderdir.html" (dict "Path" (print "content/" .Page.File.Dir) "Page" .Page "Test" $Test
                            "Project" $Project "Root" true "Default" $default)}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs col col-lg-8">
        {{- $fileContents := .Page.Scratch.Get "contents" }}
        {{- range $key, $value := $fileContents }}
        <div class="tabcontent" id="{{ $key }}">
            {{ $lang := "plain" }}
            {{- if strings.HasSuffix $key ".bal" }}
            {{- $lang = "ballerina" }}
            {{- else if strings.HasSuffix $key ".toml"}}
            {{- $lang = "toml" }}
            {{- else if strings.HasSuffix $key ".json"}}
            {{- $lang = "json" }}
            {{- else if strings.HasSuffix $key ".xml"}}
            {{- $lang = "xml" }}
            {{- else if strings.HasSuffix $key ".md"}}
            {{- $lang = "markdown" }}
            {{- end }}
            {{- $ss := "" }}
            {{- if eq $lang "markdown"}}
            {{- $value | markdownify }}
            {{- else }}
            {{- $ss = print "```" $lang " {linenos=table}\n" $value "\n```\n" }}
            {{- $ss | markdownify}}
            {{- end }}
        </div>
        {{- end }}
    </div>
</div>
{{with .Get "repo"}}
<p>
    <i class="fa fa-lightbulb fa-fw"></i>You are viewing an example hosted in a <a target="_blank" href="{{ . | safeURL }}">Github repository</a>.
    Want to open this quickly in your IDE? Click on the buttons below.
</p>
<div style="text-align: center; display: flex; align-items: center !important; justify-content: center; flex-wrap: wrap; flex-direction: row; align-content: flex-start;">
    <div style="margin: auto;">
        <a target="_blank" href="{{ . | safeURL }}">
            <img alt="View in Github" title="View in Github"
            src="https://img.shields.io/static/v1?logo=github&label=&message=View%20in%20Github&labelColor=2c2c32&color=2c2c32&logoColor=white" />
        </a>
    </div>
    <div style="margin: auto;">
        <a target="_blank" href="{{ replace . "github.com" "github.dev" | safeURL }}">
            <img alt="Edit in Github.dev" title="Edit in Github.dev"
            src="https://img.shields.io/static/v1?logo=github&label=&message=Edit%20in%20Github.dev&labelColor=2c2c32&color=2c2c32&logoColor=white" />
        </a>
    </div>
    <div style="margin: auto;">
        <a target="_blank" href="{{ replace . "github.com" "codespaces.new" | safeURL }}">
            <img alt="Open in Github Codespaces" title="Open in Github Codespaces"
            src="https://img.shields.io/static/v1?logo=github&label=&message=Open%20in%20Github%20Codespaces&labelColor=2c2c32&color=2c2c32&logoColor=white" />
        </a>
    </div>
    <div style="margin: auto;">
        <a target="_blank" href="{{ print "vscode://wso2.ballerina/open-repo?repoUrl=" . | safeURL }}">
            <img alt="Open in VSCode" title="Open in VSCode"
            src="https://img.shields.io/static/v1?logo=visualstudiocode&label=&message=Open%20in%20Visual%20Studio%20Code&labelColor=2c2c32&color=007acc&logoColor=007acc" />
        </a>
    </div>
</div>
{{end}}
{{if eq $Output true }}
<div class="details admonition success">
    <div class="details-summary admonition-title">
        <i class="icon fas fa-check-circle fa-fw"></i>Output<i class="details-icon fas fa-angle-right fa-fw"></i>
    </div>
    <div class="details-content">
        <div class="admonition-content">
            {{- $pwd := .Page.File.Dir }}
            {{- $content := os.ReadFile (print $pwd "output.txt") }}
            {{- $ss := print "```plain {linenos=table}\n" $content "\n```\n" }}
            {{- $ss | markdownify}}
        </div>
    </div>
</div>
{{end}}
{{with .Get "hr"}}
    {{ if or (eq . "down") (eq . "both")}}
        <hr>
    {{end}}
{{end}}