{{- .Page.Scratch.Set "count" 0}}
{{- .Page.Scratch.Set "contents" dict }}
{{- $Test := default false (.Get "test")}}
{{- $Project := default true (.Get "project")}}
{{- $Output := default true (.Get "output")}}
{{- $data := .Site.Data.site }}

<div class="example-view">
    <div class="details admonition example open">
        <div class="details-summary admonition-title">
            <i class="icon fas fa-list-ol fa-fw"></i>Source Files<i class="details-icon fas fa-angle-right fa-fw"></i>
        </div>
        <div class="details-content">
            <div class="admonition-content">
                <div class="folder-tree-wrapper">
                    <div>
                        <ul class="folder-tree">
                            {{ partial "renderdir.html" (dict "Path" (print "content/" .Page.File.Dir) "Page" .Page "Test" $Test
                            "Project" $Project "Root" true)}}
                        </ul>
                    </div>
                    <!-- <div style="font-size: x-small; text-align: right;">
                        <a target="_blank" href="vscode://wso2.ballerina/open-repo?repoUrl={{ .Site.Params.exampleRepo | safeURL }}"
                            title="Open in VSCode">
                            Open in VSCode
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="tabs col col-lg-8">
        {{- $fileContents := .Page.Scratch.Get "contents" }}
        {{- range $key, $value := $fileContents }}
        <div class="tabcontent" id="{{ $key }}">
            {{ $lang := "plain" }}
            {{- if strings.HasSuffix $key ".bal" }}
            {{- $lang = "ballerina" }}
            {{- else if strings.HasSuffix $key ".toml"}}
            {{- $lang = "toml" }}
            {{- else if strings.HasSuffix $key ".json"}}
            {{- $lang = "json" }}
            {{- else if strings.HasSuffix $key ".xml"}}
            {{- $lang = "xml" }}
            {{- else if strings.HasSuffix $key ".md"}}
            {{- $lang = "markdown" }}
            {{- end }}
            {{- $ss := "" }}
            {{- if eq $lang "markdown"}}
            {{- $value | markdownify }}
            {{- else }}
            {{- $ss = print "```" $lang " {linenos=table}\n" $value "\n```\n" }}
            {{- $ss | markdownify}}
            {{- end }}
        </div>
        {{- end }}
    </div>
</div>

{{if eq $Output true }}
<div class="details admonition success">
    <div class="details-summary admonition-title">
        <i class="icon fas fa-check-circle fa-fw"></i>Output<i class="details-icon fas fa-angle-right fa-fw"></i>
    </div>
    <div class="details-content">
        <div class="admonition-content">
            {{- $pwd := .Page.File.Dir }}
            {{- $content := os.ReadFile (print $pwd "output.txt") }}
            {{- $ss := print "```plain {linenos=table}\n" $content "\n```\n" }}
            {{- $ss | markdownify}}
        </div>
    </div>
</div>
{{end}}
